@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --neutral-3: #262F44;
    --neutral-7: #C6D0E0;
    --neutral-8: #E0E6EE;
    --neutral-9: #EEF4FA;
    --neutral-10: #F6F8FC;
    --blue-3: #0056b3;
    --sec-1: #ff4500;
    --sec-2: #4caf50;
    --grid-blue: linear-gradient(45deg, #005303 0%, #4caf50 50%, #0056b3 100%);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */


/* Start Header */

header {
    background: var(--neutral-10, #F6F8FC);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9999;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

header nav h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--blue-3, #2E6FF4);
}

::-webkit-scrollbar {
    width: .7rem;
}

 ::-webkit-scrollbar-track {
    border-radius: .9rem;
}

 ::-webkit-scrollbar-thumb {
    background: var(--sec-2);
    border-radius: 1rem;
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--sec-1)
}


/* for Firefox */


/* html {scrollbar-color: #9e4673 #3d4a59;}  */

@keyframes wiggle {
    0%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    75% {
        transform: translateY(-5px);
    }
}

.element-to-wiggle {
    animation: wiggle 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.main-lable {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 59px;
    background: var(--blue-3, #2E6FF4);
    width: fit-content;
}

.main-lable .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--sec-2, #F4CB3C);
}

.main-lable h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 0 15px;
}

.section-trees {
    padding: 50px 30px;
}

.section-trees .trees {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.section-trees .trees .tree {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 30px 10px 30px 10px;
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.30);
    transition: 0.3s ease-in-out;
    position: relative;
}

.section-trees .trees .tree:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.50);
    opacity: 0.9;
    filter: saturate(1.5);
    filter: brightness(1.1);
}

.section-trees .trees .tree img {
    width: 100%;
    border-radius: 30px 10px 30px 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    filter: brightness(0.5);
}

.section-trees .trees .tree h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--neutral-10, #F6F8FC);
    font-size: 20px;
}