<body class="landing-page sidebar-collapse" inmaintabuse="1" cz-shortcut-listen="true">
    <div class="img-wrapper">
        <img loading="lazy" class="single-gftpBasePathallery-image" src="static/{{ file_name }}.jpg" style="width: 100%">
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LNNBBTRGEJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-LNNBBTRGEJ');
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons&amp;display=swap">

    <script src="/assetsAdmin/js/core/jquery.min.js?v=02072021"></script>
    <script src="/assets/js/lightslider.js?v=04082021"></script>
    <script src="/assets/js/image-pack.js?v=20012022"></script>
    <script src="/assets/js/ads/ads-provider.js?v=20012022"></script>
    <script defer src="/assets/js/lazy.js?v=2"></script>

    <link rel="stylesheet" href="/assets/css/lightslider.css">
    <link rel="stylesheet" href="/assets/css/image-pack.css?v=09022024">

    <style>
        ins.adsbygoogle a { display: none; }
        ins.adsbygoogle[data-ad-status="unfilled"] a { display: block; }
    </style>

    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vef91dfe02fce4ee0ad053f6de4f175db1715022073587" integrity="sha512-sDIX0kl85v1Cl5tu4WGLZCpH/dV9OHbA4YlKCuCiMmOQIk4buzoYDZSFj+TvC71mOBLh8CDC/REgE0GX0xcbjA==" data-cf-beacon="{&quot;rayId&quot;:&quot;88be9bdecc332282&quot;,&quot;r&quot;:1,&quot;version&quot;:&quot;2024.4.1&quot;,&quot;token&quot;:&quot;ba9386ef69374dbc9ca25bc62eb77e0a&quot;}" crossorigin="anonymous"></script>
</body>